.btn {
    padding: 0;
    border: 0;
    background-color: $main-color;
    border-radius: 10px;
    font-family: MuseoSansCyrl;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text-color;
}