.header {
    padding: 7px 0 6px 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 100%;
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        p {
            text-align: right;
            width: 183px;
            font-size: 20px;
            color: $text-color;
            font-weight: bold;
            margin: 0;
            margin-right: 30px;
            span {
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
    &__btn {
        min-width: 170px;
        height: 49px;
        font-size: 13px;
    }
}
@media (max-width:1200px) {
    .header {
        &__contacts {
            p {
                font-size: 17px;
            }
        }
    }
}
@media (max-width:767px) {
    .header {
        &__contacts {
            p {
                display: none;
            }
        }
        &__btn {
            font-size: 16px;
        }
    }
}
